// -----------------------------------------------------------------------------
// Layout Settings
// -----------------------------------------------------------------------------
%center-content {
    width: 100%;
    max-width: $max-width;
    margin: 0 auto;
    padding: 0 $grid-gutter-width;
}

.inner {
    @extend %center-content;

    @include media-down(sp) {
        padding: 0 $grid-gutter-width-sp;
    }
}

#contents {
    @extend %center-content;
    display: flex;

    @include media-down(sp) {
        display: block;
        padding: 0 $grid-gutter-width-sp;
    }
}

#main {
    width: 100%;
    min-height: 1000px; // Remove on real project
    background-color: red; // Remove on real project
}

#side {
    width: 25%;
    min-width: 220px;
    margin-left: $grid-gutter-width;
    background-color: green; // Remove on real project
    background-image: image("common/blank.png"); // Remove on real project

    @at-root .reverse & {
        margin-left: 0;
        margin-right: $grid-gutter-width;
    }

    @include media-down(sp) {
        width: 100%;
        margin-left: 0;
    }
}

// .wrapper {
//     max-width: 1400px;
//     margin: 0 auto;
// }

.container {
    max-width: 1020px;
    margin: 0 auto;
}

.container-company-site {
    margin: 0 auto;
    max-width: calc(1025px + 2 * 15px);
    padding: 0 15px;
}